<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.intern_project.record.mapper.RecordMapper">
    <insert id="saveRecord" parameterType="object">
        insert into pain_record_groups (user_id, pain_area, pain_area_detail, start_date, pain_start_pattern,
                                        pain_duration)
        values (#{userId}, #{painArea}, #{painAreaDetail}, #{painStartDateTime}, #{painStartPattern}, #{painDuration});
        <selectKey resultType="Long" keyProperty="id" keyColumn="id" order="AFTER">
            SELECT LAST_INSERT_ID()
        </selectKey>
    </insert>

    <insert id="saveSymptoms">
        INSERT INTO record_symptoms (symptom_id, record_detail_id)
        VALUES
        <foreach collection="symptoms" item="symptom" separator=",">
        (#{symptom}, #{recordDetailId})
        </foreach>
    </insert>

    <insert id="saveRecordDetail">
        insert into pain_record (record_group_id, pain_intensity, pain_mood, created_at, note, pain_start_time, pain_end_time, is_initial_record)
        values (#{recordGroupId}, #{painIntensity}, #{painMood}, #{createdAt}, #{note}, #{painStartTime}, #{painEndTime}, #{isInitialRecord});
        <selectKey resultType="Long" keyProperty="id" keyColumn="id" order="AFTER">
            SELECT LAST_INSERT_ID()
        </selectKey>
    </insert>

    <select id="getSymptoms" resultType="com.intern_project.record.domain.Symptom">
        SELECT id, symptom
        FROM symptoms
    </select>

    <select id="getRecordsByUserIdAndPainAreaAndYearMonth" resultType="com.intern_project.record.dto.response.RecordHistoryListResponseDTO">
        SELECT pr.id, pr.note, pr.pain_intensity, pr.pain_mood, pr.created_at
        FROM pain_record pr
        INNER JOIN pain_record_groups prg ON pr.record_group_id = prg.id
        WHERE prg.user_id = #{userId}
        <if test="painArea != null and painArea !=''">
            AND prg.pain_area = #{painArea}
        </if>
        AND DATE_FORMAT(pr.created_at, '%Y-%m') = #{yearMonth}
    </select>

    <select id="getRecordsByRecordId" resultType="com.intern_project.record.dto.response.RecordDetailResponseDTO">
        SELECT pr.id, prg.pain_area, prg.pain_area_detail, pr.pain_intensity, pr.note, pr.pain_start_time,
               pr.pain_end_time, prg.start_date, prg.pain_duration
        FROM pain_record pr
                 INNER JOIN pain_record_groups prg ON pr.record_group_id = prg.id
        WHERE pr.id = #{recordId}
    </select>
</mapper>