<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.intern_project.record.mapper.RecordMapper">
    <insert id="saveRecord" parameterType="object" useGeneratedKeys="true" keyProperty="id">
        insert into pain_record_groups (user_id, pain_area, pain_area_detail, start_date, pain_start_pattern,
        pain_duration)
        values (#{userId}, #{painArea}, #{painAreaDetail}, #{painStartDateTime}, #{painStartPattern}, #{painDuration});
    </insert>

    <insert id="saveSymptoms">
        INSERT INTO record_symptoms (symptom_id, record_detail_id)
        VALUES
        <foreach collection="symptoms" item="symptom" separator=",">
            (#{symptom}, #{recordDetailId})
        </foreach>
    </insert>

    <insert id="saveRecordDetail" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO pain_record (record_group_id, pain_intensity, pain_mood, created_at, note, pain_start_time,
        pain_end_time, is_initial_record)
        VALUES (#{recordGroupId}, #{painIntensity}, #{painMood}, #{createdAt}, #{note}, #{painStartTime},
        #{painEndTime}, #{isInitialRecord});
    </insert>

    <select id = "findRecordDetailBy" parameterType="Long" resultType="com.intern_project.record.domain.RecordDetail">
        SELECT id, record_group_id, pain_start_time, pain_end_time, pain_intensity, pain_mood, note, is_initial_record, created_at
        FROM pain_record
        WHERE id = #{recordDetailId}
    </select>

    <select id="getSymptoms" resultType="com.intern_project.record.domain.Symptom">
        SELECT id, symptom
        FROM symptoms
    </select>

    <select id="findRecordHistories"
            resultType="com.intern_project.record.dto.response.RecordHistoryListResponseDTO">
        SELECT pr.id, pr.note, pr.pain_intensity, pr.pain_mood, pr.created_at
        FROM pain_record pr
        INNER JOIN pain_record_groups prg ON pr.record_group_id = prg.id
        WHERE prg.user_id = #{userId}
        <if test="painArea != null and painArea !=''">
            AND prg.pain_area = #{painArea}
        </if>
        AND DATE_FORMAT(pr.created_at, '%Y-%m') = #{yearMonth}
        ORDER BY pr.created_at DESC
    </select>

    <select id="getRecordsByRecordId" resultType="com.intern_project.record.dto.response.RecordDetailResponseDTO">
        SELECT pr.id,
               prg.user_id,
               prg.pain_area,
               prg.pain_area_detail,
               pr.pain_intensity,
               pr.note,
               pr.pain_start_time,
               pr.pain_end_time,
               prg.start_date,
               prg.pain_duration
        FROM pain_record pr
                 INNER JOIN pain_record_groups prg ON pr.record_group_id = prg.id
        WHERE pr.id = #{recordId}
    </select>

    <select id="getRecordGroupsByUserId" resultType="com.intern_project.record.dto.response.RecordGroupListResponseDTO">
        SELECT prg.id             AS record_group_id,
               prg.pain_area,
               COUNT(pr.id)       AS total_detail_count,
               MAX(pr.created_at) AS last_recorded_date
        FROM pain_record_groups prg
                 INNER JOIN
             pain_record pr ON prg.id = pr.record_group_id
        WHERE prg.user_id = #{userId}
        GROUP BY prg.id;
    </select>

    <select id="getTotalPainRecordsAndLastDateByUserId"
            resultType="com.intern_project.record.dto.response.RecordGroupResponseDTO">
        SELECT u.name,
               COUNT(pr.id)                            AS total_record_count,
               DATEDIFF(CURDATE(), MAX(pr.created_at)) AS days_since_last_record
        FROM users u
                 LEFT JOIN pain_record_groups prg ON u.id = prg.user_id
                 LEFT JOIN pain_record pr ON prg.id = pr.record_group_id
        WHERE u.id = #{userId}
        GROUP BY u.id;
    </select>

    <select id="findRecordReports"
            resultType="com.intern_project.record.dto.response.RecordHistoryListResponseDTO">
        SELECT pr.id, pr.note, pr.pain_intensity, pr.pain_mood, pr.created_at
        FROM pain_record pr
        INNER JOIN pain_record_groups prg ON pr.record_group_id = prg.id
        WHERE prg.user_id = #{userId}
        <if test="painArea != null and painArea !=''">
            AND prg.pain_area = #{painArea}
        </if>
        AND DATE_FORMAT(pr.created_at, '%Y-%m-%d') BETWEEN #{startDate} AND #{endDate}
        ORDER BY pr.created_at DESC
    </select>

    <select id="getLastSelectedSymptomsByGroupIdAndUserId" resultType="com.intern_project.record.domain.Symptom">
        SELECT s.id,
               s.symptom
        FROM symptoms s
                 INNER JOIN
             record_symptoms rs ON s.id = rs.symptom_id
                 INNER JOIN
             pain_record pr ON rs.record_detail_id = pr.id
                 INNER JOIN
             pain_record_groups prg ON pr.record_group_id = prg.id
        WHERE pr.id = (SELECT pr_sub.id
                       FROM pain_record pr_sub
                       WHERE pr_sub.record_group_id = #{groupId}
                       ORDER BY pr_sub.created_at DESC
            LIMIT 1
            )
          AND prg.user_id = #{userId};
    </select>
    <select id="findRecordBy" resultType="com.intern_project.record.domain.Record">
        SELECT id, user_id, pain_area, pain_area_detail, start_date as pain_start_date_time, pain_start_pattern, pain_duration
        FROM pain_record_groups
        WHERE id = #{recordGroupId};
    </select>
</mapper>